<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>签到管理</h3>
                <h5>会员签到及管理设置</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>签到列表：签到人员记录，签到记录最多保持一个月</li>
            <li>签到规则：连续签到可获取奖励</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>签到列表</h3>
            </div>
            <form id="search-form2" class="navbar-form form-inline" method="get" action="{:U('Admin/Sign/signList')}" onsubmit="return check_form();">
            <!-- <form class="navbar-form form-inline" id="search-form" method="get" action="{:U('withdrawals')}" onsubmit="return check_form();"> -->
                <input type="hidden" name="create_time" id="create_time" value="{$create_time}">
                <div class="sDiv">
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" id="start_time" value="{$start_time}" placeholder="起始时间" class="qsbox">
                        <input type="button" class="btn" value="起始时间">
                    </div>
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" id="end_time" value="{$end_time}" placeholder="截止时间" class="qsbox">
                        <input type="button" class="btn" value="截止时间">
                    </div>
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input size="30" id="user_id" name="user_id" value="{$_GET[user_id]}" placeholder="用户ID" class="qsbox" type="text">
                        <input class="btn" value="搜索" type="submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 50px;" class="">ID</div>
                        </th>
                        <th align="center" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: center; width: 80px;" class="">用户id</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 150px;" class="">用户昵称</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">手机号码</div>
                        </th>
                        <!-- <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">累计签到天数</div>
                        </th> -->
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">连续签到天数</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 180px;" class="">签到时间</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <if condition="empty($list) eq true">
                        <tr data-id="0">
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                            </td>
                         </tr>
                    <else/>
                    <volist name="list" id="v">
                        <tr>
                            <td align="center" class="">
                                <div style="text-align: center; width: 50px;">
                                    {$v.id}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 80px;">{$v.user_id}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">{$v.nickname}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$v.mobile}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 80px;">{$v.continue_sign}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 180px;">{$v.sign_day}</div>
                            </td>

                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </if>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$show} </div>
        <br/>
        <br/>
        <br/>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });
        laydate.render({
            theme: "molv",
            type: "datetime",
            elem: "#start_time"
        })
        laydate.render({
            theme: "molv",
            type: "datetime",
            elem: "#end_time"
        })
       /* laydate.render({
            elem: '#start_time',
            theme: 'molv', //主题
            format: 'yyyy-MM-dd', //自定义格式
            calendar: true, //显示公历节日
            min: '1970-01-01', //最小日期
            max: '2099-12-31', //最大日期
        });
        laydate.render({
            elem: '#end_time',
            theme: 'molv', //主题
            format: 'yyyy-MM-dd', //自定义格式
            calendar: true, //显示公历节日
            min: '1970-01-01', //最小日期
            max: '2099-12-31', //最大日期
        });*/
    });
    
    function check_form(){
        var start_time = $.trim($('#start_time').val());
        var end_time =  $.trim($('#end_time').val());
        if(start_time == '' ^ end_time == ''){
            layer.alert('请选择完整的时间间隔', {icon: 2});
            return false;
        }
        if(start_time !== '' && end_time !== ''){
            $('#create_time').val(start_time+","+end_time);
        }
        if(start_time == '' && end_time == ''){
            $('#create_time').val('');
        }

        return true;
    }

</script>
</body>
</html>