/runtime
/application/database.php
/application/api/controller-old/
/public/upload/goods/thumb/*
/vendor/topthink/think-captcha/assets/bgs/*
.vscode
.project
.idea
/public/upload/goods/thumb/
/public/upload/*
cron.txt
cron_team.sh
/sql
*.txt
/public/share/*
/logs
.user.ini
.well-known