<include file="public/layout"/>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>商城设置</h3>
                <h5>网站全局内容基本选项设置</h5>
            </div>
            <ul class="tab-base nc-row">
                <foreach name="group_list" item="v" key="k">
                    <li><a href="{:U('System/index',['inc_type'=> $k])}" <if condition="$k==$inc_type">class="current"</if>><span>{$v}</span></a></li>
                </foreach>
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span></div>
        <ul>
            <li>系统平台全局设置,包括基础设置、奖金池、排名等相关模块。</li>
            <li>开启奖金池则将邮费放进奖金池，否则不抽取邮费放进奖金池。</li>
            <li>开启奖金池奖励则按用户排名进行奖励，否则不进行奖励。</li>
        </ul>
    </div>
    <form method="post" enctype="multipart/form-data" name="form1" id="form1" action="{:U('System/bonus_set')}">
        <input type="hidden" name="inc_type" value="{$inc_type}">
        <input type="hidden" name="flag" id="flag" value="">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="bonus_total">奖金池设置:</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="is_pool_open" class="cb-enable <if condition='$config.pool_open eq 1'>selected</if>">开启</label>
                        <label for="is_pool_close" class="cb-disable <if condition='$config.pool_open eq 0'>selected</if>">关闭</label>
                        <input id="is_pool_open" name="pool" <if condition="$config.pool_open eq 1">checked="checked"</if> value="1" type="radio"> 
                        <input id="is_pool_close" name="pool" <if condition="$config.pool_open eq 0">checked="checked"</if> value="0" type="radio">
                    </div>
                    <p class="notic">是否开启奖金池</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label for="bonus_total">奖金池奖励设置:</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="is_bonus_open" class="cb-enable <if condition='$config.bonus_open eq 1'>selected</if>">开启</label>
                        <label for="is_bonus_close" class="cb-disable <if condition='$config.bonus_open eq 0'>selected</if>">关闭</label>
                        <input id="is_bonus_open" name="bonus" <if condition="$config.bonus_open eq 1">checked="checked"</if> value="1" type="radio"> 
                        <input id="is_bonus_close" name="bonus" <if condition="$config.bonus_open eq 0">checked="checked"</if> value="0" type="radio">
                    </div>
                    <p class="notic">是否开启奖金池奖励</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label for="bonus_total">奖金池总额:</label>
                </dt>
                <dd class="opt">
                    <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$" id="bonus_total" name="bonus_total" value="{$config.bonus_total|default=0}" class="input-txt" type="text">
                    <span>元</span>
                    <p class="notic">奖金池当前总金额</p>
                </dd>
            </dl>


            <dl class="row">
                <dt class="tit">
                    <label for="bonus_pool">抽取邮费:</label>
                </dt>
                <dd class="opt">
                    <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$" id="bonus_pool" name="bonus_pool" value="{$config.bonus_pool|default=0}" class="input-txt" type="text">
                    <span>%</span>
                    <p class="notic">针对奖金池商品领取付的邮费百分比</p>
                </dd>
            </dl>
			
			<dl class="row">
			    <dt class="tit">
			        <label for="reg_integral">排名前三名奖励:</label>
			    </dt>
			</dl>
			<dl class="row">
			    <dt class="tit">
			        <label for="ranking1">第一名</label>
			    </dt>
			    <dd class="opt">
			        <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$"  name="ranking1"
                    id="ranking1" value="{$config.ranking1|default=0}" class="input-txt" type="text">
			        <span>%</span>
			    </dd>
			</dl>
			<dl class="row">
			    <dt class="tit">
			        <label for="ranking2">第二名</label>
			    </dt>
			    <dd class="opt">
			        <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$"  name="ranking2" id="ranking2" value="{$config.ranking2|default=0}" class="input-txt" type="text">
			        <span>%</span>
			    </dd>
			</dl>
			<dl class="row">
			    <dt class="tit">
			        <label for="ranking3">第三名</label>
			    </dt>
			    <dd class="opt">
			        <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$"  name="ranking3" id="ranking3" value="{$config.ranking3|default=0}" class="input-txt" type="text">
			        <span>%</span>
			    </dd>
			</dl>
			
			<!-- <dl class="row">
			    <dt class="tit">
			        <label for="reg_integral">第四名</label>
			    </dt>
			    <dd class="opt">
			        <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$"  name="ranking4" id="ranking4" value="{$config.ranking4|default=0}" class="input-txt" type="text">
			        <span>%</span>
			    </dd>
            </dl> -->
            
            <dl class="row">
                <dt class="tit">
                    <label for="day">每月奖励发放时间:</label>
                </dt>
                <dd class="opt">
                    <span>{$config.day}</span>
                    <!-- <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$"  name="ranking0" value="{$config.ranking0|default=0}" class="input-txt" type="text"> -->
                    <!-- <select name="day" id="day">
                        <option value="1" <if condition="$config.day eq 1">selected</if>>1</option>
                        <option value="2" <if condition="$config.day eq 2">selected</if>>2</option>
                        <option value="3" <if condition="$config.day eq 3">selected</if>>3</option>
                        <option value="4" <if condition="$config.day eq 4">selected</if>>4</option>
                        <option value="5" <if condition="$config.day eq 5">selected</if>>5</option>
                        <option value="6" <if condition="$config.day eq 6">selected</if>>6</option>
                        <option value="7" <if condition="$config.day eq 7">selected</if>>7</option>
                        <option value="8" <if condition="$config.day eq 8">selected</if>>8</option>
                        <option value="9" <if condition="$config.day eq 9">selected</if>>9</option>
                        <option value="10" <if condition="$config.day eq 10">selected</if>>10</option>
                        <option value="11" <if condition="$config.day eq 11">selected</if>>11</option>
                        <option value="12" <if condition="$config.day eq 12">selected</if>>12</option>
                        <option value="13" <if condition="$config.day eq 13">selected</if>>13</option>
                        <option value="14" <if condition="$config.day eq 14">selected</if>>14</option>
                        <option value="15" <if condition="$config.day eq 15">selected</if>>15</option>
                        <option value="16" <if condition="$config.day eq 16">selected</if>>16</option>
                        <option value="17" <if condition="$config.day eq 17">selected</if>>17</option>
                        <option value="18" <if condition="$config.day eq 18">selected</if>>18</option>
                        <option value="19" <if condition="$config.day eq 19">selected</if>>19</option>
                        <option value="20" <if condition="$config.day eq 20">selected</if>>20</option>
                        <option value="21" <if condition="$config.day eq 21">selected</if>>21</option>
                        <option value="22" <if condition="$config.day eq 22">selected</if>>22</option>
                        <option value="23" <if condition="$config.day eq 23">selected</if>>23</option>
                        <option value="24" <if condition="$config.day eq 24">selected</if>>24</option>
                        <option value="25" <if condition="$config.day eq 25">selected</if>>25</option>
                        <option value="26" <if condition="$config.day eq 26">selected</if>>26</option>
                        <option value="27" <if condition="$config.day eq 27">selected</if>>27</option>
                        <option value="28" <if condition="$config.day eq 28">selected</if>>28</option> -->
                        <!-- <option value="29" <if condition="$config.day eq 29">selected</if>>29</option>
                        <option value="30" <if condition="$config.day eq 30">selected</if>>30</option> -->
                        <!-- <option value="31" <if condition="$config.day eq 31">selected</if>>31</option> -->
                    <!-- </select> -->
                    <span>号</span>
                </dd>
            </dl>   
            <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="fromsubmit();">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // // 奖金池设置
    // function pool_open(data){
    //     var msg;
    //     if(data == 0){
    //         msg = '关闭后当月期的奖励就已确定不会再进行发放,<br> 确定关闭吗?';
    //     }else{
    //         msg = '确定开启吗?';
    //     }
    //     layer.confirm(msg, {
    //         btn: ["确定","取消"] //按钮
    //     }, function(){
    //         $.ajax({
	// 			type: "get",
	// 			url: "/index.php?m=Admin&c=BonusPool&a=change_status",
	// 			success: function (data) {
    //                 $('#form1').submit();
	// 			}
	// 		});
    //     }, function(){
    //         location.reload();
    //     });
    // }

    function fromsubmit(){
        var bonus_open = $('input:radio[name="bonus"]:checked').val();
        var bonus_now  = '{$config.bonus_open}';
        var bonus_total = $("#bonus_total").val();
        var date = new Date();
        date = date.getDate();
        var day = $("#day").val();
        var ranking1 = document.getElementById("ranking1").value;
        var ranking2 = document.getElementById("ranking2").value;
        var ranking3 = document.getElementById("ranking3").value;
        var ranking3 = document.getElementById("ranking3").value;
        var total = parseInt(ranking1) + parseInt(ranking2) + parseInt(ranking3);
        
        if(total > 100){
            layer.msg('排名比例总和不能超过100%！', {icon: 2,time: 1000});
            // layer.msg(total, {icon: 2,time: 1000});
            return false;
        }

        if(bonus_total<=0){
            layer.msg('奖金池必须大于0！', {icon: 2,time: 1000});
            return false;
        }

        // if(date >= date){
        //     layer.msg('奖励发放日只能设置为本日之后！', {icon: 2,time: 1000});
        //     return false;
        // }

        if((bonus_open == '0') && (bonus_open != bonus_now)){
            var msg = '注意: 奖励关闭后当期未进行奖励的用户都会作废，不再进行奖励，确定关闭吗？';
            layer.confirm(msg, {
                //按钮
                btn: ["确定","取消"] 
            }, function(){
                document.getElementById("flag").value = 1;
                document.form1.submit();
            });
        }else if((bonus_open == '1') && (bonus_open != bonus_now)){
            var msg = '注意: 奖励开启后当期未进行奖励的用户都会作废，不再进行奖励，开始新的排名，确定开启吗？';
            layer.confirm(msg, {
                //按钮
                btn: ["确定","取消"] 
            }, function(){
                document.getElementById("flag").value = 1;
                document.form1.submit();
            });
        }else{
            document.form1.submit();
        }
    }
</script>
<div id="goTop">
    <a href="JavaScript:void(0);" id="btntop">
        <i class="fa fa-angle-up"></i>
    </a>
    <a href="JavaScript:void(0);" id="btnbottom">
        <i class="fa fa-angle-down"></i>
    </a>
</div>
</body>
</html>