
/*底部菜单*/
.footer-zp{
	width: 100%;
	height:1.2rem;
	background: #7a868c;
	position: fixed;
	bottom: 0;
	color: white;
}
.footer-zp ul{
	display: flex;
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ 
	display: -moz-box; /* Firefox 17- */ 
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */ 
	display: -moz-flex; /* Firefox 18+ */ 
	display: -ms-flexbox; /* IE 10 */ 
	height:0.98rem;
	justify-content: center;
	align-items: center;
}
.footer-zp ul li{
	width: 25%;
	text-align: center;
}
.footer-zp ul li a{
	display: block;
	margin-top:.2rem
}
.footer-zp ul li span{
    display: block;
    width: 100%;
    font-size: 0.26rem;
   /* color: #d6d6d6;*/
   color: white;
   padding-top: .05rem;
   letter-spacing:.14rem;
   padding-left: .05rem;
}

.footer-zp ul li.on span{
	/*选中的颜色*/
	color: white;
}

/*底部图标*/
.footer-zp ul li i{
	width: 0.5rem;
	height: 0.5rem;
	display: block;
	margin:0.08rem auto;
}
.cart-icon{
	margin-left: .69rem!important;
}
.footer-zp ul li .home-icon{
	background: url(/template/shop/rainbow/static/images/category/2.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li .category-icon{
	background: url(/template/shop/rainbow/static/images/category/fenlie.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li .cart-icon{
	background: url(/template/shop/rainbow/static/images/category/gouwuche.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li .user-icon{
	background: url(/template/shop/rainbow/static/images/category/i.png) no-repeat;
	background-size: 100%;
}

.footer-zp ul li.on .home-icon{
	background: url(/template/shop/rainbow/static/images/category/2.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li.on .category-icon{
	background: url(/template/shop/rainbow/static/images/category/fenlie.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li.on .cart-icon{
	background: url(/template/shop/rainbow/static/images/category/gouwuche.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li.on .user-icon{
	background: url(/template/shop/rainbow/static/images/category/i.png) no-repeat;
	background-size: 100%;
}