body{
    background-color: #f5f5f5;
}
.wrapper{
    padding-bottom: 1.1rem;
}
.toubu{
	width: 100%;
	text-align: center;
	padding:.1rem 0;
	background: #e2e3e5;
	}
.toubu img{
	width: 3.4rem;
	height: 1rem;
}
/* 头部 */
.header{
    width: 100%;
    height: 0.88rem;
    /* background: -moz-linear-gradient(top, #fe44a0 0%, #e81295 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe44a0), color-stop(100%, #e81295));
	background: -webkit-linear-gradient(top, #fe44a0 0%, #e81295 100%);
	background: -o-linear-gradient(top, #fe44a0 0%, #e81295 100%);
    background: -ms-linear-gradient(top, #fe44a0 0%, #e81295 100%); */
    background-color:#7a868c;
    display: flex;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ 
    display: -moz-box; /* Firefox 17- */ 
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */ 
    display: -moz-flex; /* Firefox 18+ */ 
    display: -ms-flexbox; /* IE 10 */ 
    align-items: center;
    padding: 0 0.2rem;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}
.header .scan img{
    width: .45rem;
}
.header .search{
	position: relative;
    width: 100%;
    height: 0.56rem;
    flex: 1;
    margin: 0 0.2rem;
    background-color: #fff;
    border-radius: 0.28rem;
    display: flex;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ 
    display: -moz-box; /* Firefox 17- */ 
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */ 
    display: -moz-flex; /* Firefox 18+ */ 
    display: -ms-flexbox; /* IE 10 */ 
    align-items: center;
}
.header .search .search-btn img{
	position: absolute;
	top: .1rem;
	right: .15rem;
    width: 0.36rem;
}
.header .search .logo-btn img{
    width: 0.2rem;
    height: .4rem;
    margin: 0.1rem 0.15rem 0.1rem .2rem;
}
.header .search .search-input{
    height: 0.4rem;
    line-height: 0.4rem;
    border-left: 0.01rem solid #d0d0d0;
    font-size: 0.24rem;
    color: #8a8a8a;
    padding-left: 0.18rem;
    box-sizing: border-box;
}
.header .login-btn img{
    width: .45rem;
}
.hhh_pic{
    width: 7.26rem;
    height: 3.34rem;
	margin: 0 auto;
	margin-top:.1rem;
	margin-bottom: .1rem;
}
.hhh_pic img{
	width: 100%;
	height: 100%;
}

/* 轮播图 */
.banner-wrap-zp{
    padding-top: 0.88rem;
}
.banner-wrap-zp img{
    width: 100%;
}
.swiper-bg{
    width: 100%;
    height: 0.13rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
}
.swiper-bg img{
    width: 100%;
}

/* 菜单导航 */
.nav-wrap-zp{
	width: 7.26rem;
	height: 3rem;
	margin: 0 auto;
	background: white;
    padding: .2rem 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.nav-wrap-zp ul{
    letter-spacing: .03rem;
	height: 100%;
    display: flex;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ 
    display: -moz-box; /* Firefox 17- */ 
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */ 
    display: -moz-flex; /* Firefox 18+ */ 
    display: -ms-flexbox; /* IE 10 */ 
    flex-wrap: wrap;
    margin-bottom: 0.25rem;
}
.nav-wrap-zp ul li{
    width: 25%;
    text-align: center;
}
.nav-wrap-zp ul li a{
    color: #8e969b;
    width: 100%;
    height: .6rem;
    box-sizing: border-box;
}
.nav-wrap-zp ul li img{
    width: 35%;
    height: 100%;
    margin: 0.16rem auto 0.1rem;
    display: block;
}
.nav-wrap-zp ul li span{
    font-size: 0.24rem;
}

/* 秒杀 */
.floors{
    padding: 0 0.2rem;
    box-sizing: border-box;
    display: flex;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ 
    display: -moz-box; /* Firefox 17- */ 
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */ 
    display: -moz-flex; /* Firefox 18+ */ 
    display: -ms-flexbox; /* IE 10 */ 
}
.seckill-wrap,.find-good{
    width: 50%;
    background-color: #ffffff;
}
.seckill-wrap {
    border-right:0.01rem solid #e6e6e6;
}
.seckill-wrap .up i img{
    width: 1.1rem;
}
.floors .up{
    height: 0.66rem;
    margin-left: 0.25rem;
    display: flex;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ 
    display: -moz-box; /* Firefox 17- */ 
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */ 
    display: -moz-flex; /* Firefox 18+ */ 
    display: -ms-flexbox; /* IE 10 */ 
    align-items: center;
} 

/* 倒计时 */
.seckill-wrap .downTime{
    margin-left: 0.1rem;
    font-size: 0.24rem;
    color: #ff0054;
} 
.seckill-wrap a{
    width: 100%
}
.seckill-wrap .downTime span{
    background-color: #ff0054;
    color: #fff;
    padding: 0.04rem 0.02rem;
    box-sizing: border-box;
    min-width: 0.32rem;
    min-height: 0.27rem;
    display: inline-block;
}

/* 秒杀列表 */
.floors .down{
    display: flex;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ 
    display: -moz-box; /* Firefox 17- */ 
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */ 
    display: -moz-flex; /* Firefox 18+ */ 
    display: -ms-flexbox; /* IE 10 */ 
    padding-bottom: 0.15rem;
}
.floors .down a{
    width: 100%
}
.floors .down .item{
    width: 50%;
    text-align: center;
}
.floors .down .item .picture{
    width: 100%;
    height: 1.2rem;
    margin-bottom: 0.1rem;
}
.floors .down .item img{
    width: 1.24rem;
}
.floors .down .item p{
    font-size: 0.24rem;
    color: #f60606;
}

/* 发现好货 */
.find-good .up i img{
    width: 0.26rem;
    vertical-align: middle;
}
.find-good .up h3{
    color: #f60677;
    font-size: 0.24rem;
    margin-left: 0.08rem;
}

/* 为你推荐 */
.recommend-wrap .title{
   
    /*background: rgb(31,31,31);*/
    height: .8rem;
    width: 7.1rem;
    /*margin: .3rem auto;*/
     margin: 0 auto;
     margin-top: .12rem;
   
   
}
.recommend-wrap .title h3{
    color: black;
    font-size: 0.24rem;
    display: flex;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ 
    display: -moz-box; /* Firefox 17- */ 
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */ 
    display: -moz-flex; /* Firefox 18+ */ 
    display: -ms-flexbox; /* IE 10 */ 
    align-items: center;
    justify-content: center;
    padding-top: .3rem;
    letter-spacing: .3rem;
   
   
    
    
}
.recommend-wrap .title h3::before{
    width: 2.1999rem;
    height: 0.03rem;
    margin-right: 0.1rem;
    content: '';
    display: inline-block;
    background: url(../images/home_zp/lletf_line.png) no-repeat;
    background-size: 100%;
  
}
.imgimg{
	
	width: 7.1rem;
	display: block;
	margin: 0 auto;
	
	
}
.recommend-wrap .title h3::after{
    width: 2.15rem;
    height: 0.03rem;
    margin-left: 0.1rem;
    content: '';
    display: inline-block;
    background: url(../images/home_zp/lletf_line.png) no-repeat;
    background-size: 100%;
}

/* 推荐列表 */
.recommend-wrap .recommend-list{
    padding: 0 0.12rem .1rem;
    box-sizing: border-box;
}
.recommend-wrap .recommend-list ul{
    display: flex;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ 
    display: -moz-box; /* Firefox 17- */ 
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */ 
    display: -moz-flex; /* Firefox 18+ */ 
    display: -ms-flexbox; /* IE 10 */ 
    justify-content: space-between;
    flex-wrap: wrap;
}
.recommend-wrap .recommend-list ul li{
    width: 3.58rem;
    padding: 0.1rem;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 0.1rem;
}
.recommend-wrap .recommend-list ul li .img-wrap{
    width: 3.3rem;
    height: 3.3rem;
}
.recommend-wrap .recommend-list ul li .img-wrap img{
    display: block;
    width: 100%;
}
.recommend-wrap .recommend-list ul li .tit a{
    color: #151515;
    font-size: 0.24rem;
    margin: 0.1rem auto 0.15rem;
}
.recommend-wrap .recommend-list ul li .line2 .price{
    color: #f60808;
    font-size: 0.3rem;
}
.recommend-wrap .recommend-list ul li .line2 .guess-btn{
    font-size: 0.18rem;
    color: #585858;
    float: right;
}

/* 蒙层 
.model{
    width: 100%;
    height: 100%;
    background-color: rgba(9,9,9,.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}*/
/* 免费领取面膜弹框 */
.free-receive{
    position: fixed;
    left: 12%;
    top: 16%;
    transform: translate(-50%,-50%);
    z-index: 100;
    display: none;
}

.free-receive .dialog-content img{
    width: 1.26rem;
}
.title_ear{
	
	position: relative;
	
}
.title_two{
	
	position: absolute;
	left: 50%;
	transform: translate(0,-50%);
	width: 7rem;
	margin:auto;
	
}


