

.box{
    position: relative;
    width: 100%;
    height: 100%;
}

html,body,div,img,p,span {
    margin: 0;
    padding: 0;
}

.danmu {
    z-index: 999999;
    position: fixed;
    left: .55rem;
    top: 10%;
    background-color: #322400;
    color: #FFF;
    height: .65rem;
    line-height: .65rem;
    border-radius: .6rem;
    padding-right: 10px;
    padding-left: .75rem;
    font-size: 18px;
    opacity: 0;
}



.danmu img {
    border-radius: 50%;
    width: .65rem;
    position: absolute;
    top: 0;
    left: 0;
}

.dan_mc{
    font-size: .24rem;
    line-height: .65rem;
    vertical-align: top;
}