<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>业绩统计</h3>
				<h5>业绩统计报告</h5>
			</div>
		</div>
	</div>

	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
		  <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
		  <span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		 <ul>
			<li>奖励设置在管理团队设置</li>
		</ul>
	</div>
	
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>业绩统计记录</h3>
				<h5>(共{$pager->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>

			<form class="navbar-form form-inline" id="search-form" method="POST" action="{:U('PreForm/preform')}" onSubmit="return check_form();">
				<div class="sDiv">
					<!--
					<div class="sDiv2" style="margin-right: 10px;">
						<input type="text" size="30" name="start_time" id="start_time" value="{$start_time|date='Y-m-d H:i:s', ###}" placeholder="起始时间" class="qsbox">
						<input type="button" class="btn" value="起始时间">
					</div>
					
					<div class="sDiv2" style="margin-right: 10px;">
						<input type="text" size="30" name="end_time" id="end_time" value="{$end_time|date='Y-m-d H:i:s', ###}" placeholder="截止时间" class="qsbox">
						<input type="button" class="btn" value="截止时间">
					</div>-->
					<div class="sDiv2">
					    <select class="select" name="search_type" id="search_type">
                            <option value="nickname">会员昵称</option>
                            <option value="user_id">会员ID</option>
                            <option value="search_key">会员账户</option>
                        </select>
                        <input type="text" id="search_key" size="30" class="qsbox" placeholder="查询"
                               value="{$Request.param.search_key}" name="search_text">
						<input class="btn" value="搜索" type="submit">
					</div>
					<br/>
		
				</div>
			</form>
		</div>
						<div style="clear:both"></div>
					<div style="text-align: left;height:30px">
					<div class="sDiv2">
						<input class="btn" value="第一季度奖金" type="button" onclick="onsubmits(1);">
					</div>
					<div class="sDiv2">
						<input class="btn" value="第二季度奖金" type="button" onclick="onsubmits(2);">
					</div>
					<div class="sDiv2">
						<input class="btn" value="第三季度奖金" type="button" onclick="onsubmits(3);">
					</div>
					<div class="sDiv2">
						<input class="btn" value="第四季度奖金" type="button" onclick="onsubmits(4);">
					    <select class="select" name="year_c" id="year_c">
                            <option value="{$year}">{$year}</option>
                            <option value="{$n_year}">{$n_year}</option>
                        </select>
					</div>
				
				</div>


		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="center" abbr="article_title" axis="col3" class="">
							<div style="text-align: center; width: 60px;" class="">ID</div>
						</th>
						<th align="center" abbr="ac_id" axis="col4" class="">
							<div style="text-align: center; width: 100px;" class="">用户</div>
						</th>
							<th align="center" abbr="ac_id" axis="col4" class="">
							<div style="text-align: center; width: 50px;" class="">手机</div>
						</th>
						<th align="center" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 150px;" class="">第一季度(团队业绩)</div>
						</th>
						<th align="center" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 150px;" class="">第二季度(团队业绩)</div>
						</th>
						<th align="center" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 150px;" class="">第三季度(团队业绩)</div>
						</th>
						<th align="center" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 150px;" class="">第四季度(团队业绩)</div>
						</th>
						<th align="center" axis="col1" class="handle">
							<div style="text-align: center; width: 200px;">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<foreach name="new_list" item="vo" key="k" >
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 60px;">{$vo.user_id}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 50px;">{$vo.nickname}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 100px;">{$vo.mobile}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 150px;">{$vo.first}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 150px;">{$vo.two}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 150px;">{$vo.thiree}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 150px;">{$vo.four}</div>
							</td>
							<td align="center" class="handle">
								<div style="text-align: center; width: 200px; max-width:200px;">
									<a class="btn blue" href="{:U('PreForm/checklog_reward',array('id'=>$vo['user_id']))}"><i class="fa fa-search"></i>查看发放奖金</a>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
			{$pager->show()}
		 </div>
</div>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<script>
function opens()
{
	location.href = "{:U('PreForm/send_reward')}";
}
</script>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});


		// 起始位置日历控件
        $('#start_time').layDate();
        $('#end_time').layDate();
	});

	function check_form(){
		var start_time = $.trim($('#start_time').val());
		var end_time =  $.trim($('#end_time').val());
		if(start_time == '' ^ end_time == ''){
			layer.alert('请选择完整的时间间隔', {icon: 2});
			return false;
		}	
		if(start_time > end_time){
			layer.alert('请选择正确的起始时间', {icon: 2});
			return false;
		}		 
		return true;
	}

</script>
<script type="text/javascript">
	function onsubmits(seaon)
	{
		   var years = $('#year_c option:selected').val();
			layer.load();
		    $.ajax({
            type: "GET",
            url: "{:U('PreForm/send_reward')}",
            data: {'seaon':seaon,'years':years},
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
            	layer.closeAll();
                if (data.status === 1) {
                    layer.msg(data.msg, {icon: 1,time: 1000}, function() {
                      //  location.href = "{:U('Admin/PreForm/send_reward')}";
                    });
                } else if(data.status === 0) {
                    submitStatus = true;
                    layer.msg(data.msg, {icon: 2,time: 1000});
                    $.each(data.result, function(index, item) {
                        $('#err_' + index).text(item).show();
                    });
                } else {
                    submitStatus = true;
                    layer.msg(data.msg, {icon: 2,time: 1000});
                }
            }
        });

	}
	
</script>
</body>
</html>