<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>业绩分红等级管理 - 编辑业绩分红等级</h3>
                <h5>网站系统业绩分红等级管理</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="handleposition" method="post">
        <!-- <input type="hidden" name="act" value="{$act}"> -->
        <input type="hidden" name="rate_id" value="{$info.rate_id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="grade"><em>*</em>分红等级</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="grade" value="{$info.grade}" id="grade" class="input-txt"onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
                    <span class="err" id="err_grade"></span>
                    <p class="notic">设置业绩分红等级大小</p>
                </dd>
            </dl>
			
			<dl class="row">
			    <dt class="tit">
			        <label ><em>*</em>业绩分红</label>
			    </dt>
			    <dd class="opt">
					<span>下限</span>
			        <input type="text" name="lower" value="{$info.lower}" class="input-txt"onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
			        <span>元</span>
					<span>——</span>
					<span>上限</span>
					<input type="text" name="upper" value="{$info.upper}" class="input-txt"onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
					<span>元</span>
					<span class="err" id="err_lower"></span>
			        <p class="notic">设置业绩分红,若填一个象限(下限为以上、上限为以内)。</p>
			    </dd>
			</dl>
			
			<dl class="row">
			    <dt class="tit">
			        <label for="rate">分红率</label>
			    </dt>
			    <dd class="opt">
			        <input type="text" name="rate" value="{$info.rate}" id="rate" class="input-txt"onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
			        <span>%</span>
					<span class="err" id="err_rate"></span>
			        <p class="notic">设置业绩分红率,不填为无分红！</p>
			    </dd>
            </dl>
            
            <dl class="row">
                <dt class="tit">
                    <label for="amount"><em>*</em>分红等级</label>
                </dt>
                <dd class="opt">
					<div style="margin-bottom: 10px;">
					<select name="level" id="leve">
                        <option value="0">选择条件</option>
                        <volist name='levellist' id='v'>
                            <option value="{$v['level']}" <if condition="$v['level'] eq $info['level']"> selected</if>>{$v['level_name']}</option>               
                        </volist>
					</select>
					</div>
                </dd>
            </dl>

			<dl class="row">
			    <dt class="tit">
			        业绩描述
			    </dt>
			    <dd class="opt">
			        <textarea  name="describe" class="tarea" rows="6">{$info.describe}</textarea>
			        <span class="err" id="err_describe"></span>
			        <p class="notic">团队业绩描述信息</p>
			    </dd>
			</dl>
            <div class="bot"><a href="JavaScript:void(0);" onclick="verifyForm()" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function verifyForm(){
        $('span.err').show();
        $.ajax({
            type: "POST",
            url: "{:U('Admin/User/bonusSystem_add')}",
            data: $('#handleposition').serialize(),
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {icon: 1});
                    location.href = "{:U('Admin/User/bonusSystem')}";
                } else {
                    layer.msg(data.msg, {icon: 2});
                    $('#err_' + data.name).text(data.msg).show();
                }
            }
        });
    }
</script>
</body>
</html>