<include file="public/layout" />
<style>
    td{height:40px;line-height:40px; padding-left:20px;}
    .span_1{
        float:left;
        margin-left:0px;
        height:130px;
        line-height:130px;
    }
    .span_1 ul{list-style:none;padding:0px;}
    .span_1 ul li{
        border:1px solid #CCC;
        height:40px;
        padding:0px 10px;
        margin-left:-1px;
        margin-top:-1px;
        line-height:40px;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>会员管理 - 更改会员信息</h3>
                <h5>快速根据会员ID更改级别</h5>
            </div>
        </div>
    </div>
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>会员ID</label>
                </dt>
                <dd class="opt">
                    <input class="input-txt valid" id="user_id" type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
                    <a href="JavaScript:void(0);" onclick="ajaxUser();" class="ncap-btn-big ncap-btn-green">查询</a>
                    <p class="notic">请输入ID</p>
                </dd>
            </dl>
           
        <form class="form-horizontal" id="user_form" method="post">
            <dl class="row">
                <dt class="tit">
                    <label>会员等级</label>
                </dt>
                <dd class="opt">
                    <input name="user_id"  type="hidden" value="">
                	<select id="level" name="level">
                        <option value="" selected>---请选择等级---</option>
                		<tpshop sql="select * from `__PREFIX__user_level` where level != 12" key="k" item='v'>
                		<option value="{$v[level]}">{$v[level_name]}</option>
                		</tpshop>
                	</select>
                </dd>
            </dl>
          
            <div class="bot"><a href="JavaScript:void(0);" onclick="checkUserUpdate();" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </form>

        </div>
</div>

<script type="text/javascript">

    function ajaxUser(){

        var user_id = $('#user_id').val();

        $.ajax({
            type: "GET",
            url: "/index.php?m=Admin&c=User&a=details",//+tab,
            data: {id:user_id},
            dataType: 'json',
            success: function (data) {
                if(data.status == 1){
                    $('.notic').html('ID：'+data.result.user_id+'，昵称：'+data.result.nickname+'，等级：'+data.result.level_name);
                    $(" input[ name='user_id' ] ").val(data.result.user_id);
                }else{
                    layer.alert(data.msg, {icon: 2,time: 3000});
                }
            },
            error:function(){
                layer.alert('网络异常', {icon: 2,time: 3000});
            }
        });
    }

    function checkUserUpdate(){
      
        var user_id = $(" input[ name='user_id' ] ").val();
        var error = '';
        if(user_id == 0 || user_id == ''){
            error += "请先查询ID\n";
        }
        if(level == 0 || level == ''){
            error += "请选择级别\n";
        }

        if(error){
            layer.alert(error, {icon: 2});
            return false;
        }

        $('#user_form').submit();
    }
</script>
</body>
</html>